.book-top-row {
  display: grid;
  grid-template-columns: auto 190px;
}

.book-bottom-row {
  display: grid;
  grid-template-columns: 190px auto;
}

.book-bottom-row-col-2 {
  max-height: 201px;
  overflow: scroll;
}

.book-info-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
}